@tailwind base;
@tailwind components;
@tailwind utilities;

.test{
    background: red;
}
body{
    --vxe-table-column-padding-default: 0px 0 ;
    --vxe-table-cell-padding-left: 0px;
    --vxe-table-cell-padding-right: 0px;
}

.curRowClass{ 
    background:RGB(228, 228, 229);
}
 
.notCurRowClass{
    /* background: blue; */
}
.rowSelect{
    background:RGB(198, 198, 209);
}
