@tailwind base;
@tailwind components;
@tailwind utilities;

.test{
    background: red;
}
body{
    --vxe-table-column-padding-default: 0px 0 ;
    --vxe-table-cell-padding-left: 0px;
    --vxe-table-cell-padding-right: 0px;
    /* --vxe-table-border-color:none; */
    /* --vxe-table-border-width:0 */
}
/* .border--default .vxe-footer--column{
    background-image: linear-gradient(
        var(red),
        var(red)
      );;
} */
/* .vxe-table--footer-wrapper {
    border-top: none
  }
  .vxe-table--border-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    pointer-events: none;
    border: none
  } */
.curRowClass{ 
    background:RGB(139, 199, 255) !important;
}
.vxe-grid-hidden-border{
   
}

.vxe-grid-hidden-border td{
    background-image: none !important  ;
}

.notCurRowClass{
   
    /* background: blue; */
}
.rowSelect{
    background:RGB(139, 199, 200);
}
.vxe-modal--wrapper .vxe-modal--content {
    flex-grow: 1;
    padding: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    white-space: pre-line;
}
.vxe-modal--content {
    flex-grow: 1;
    padding: 0 !important;
    padding-top: 0 !important;
    padding-right: 0 !important; 
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    white-space: pre-line;
}



.vxe-input{
    height: 100%;
}
.vxe-form--item-content{
    padding: 0!important;
}
.vxe-form--item{
    padding: 0 !important;
}
.ant-tabs-content {
    height: 100%;
}





.c--ellipsis{
    height:inherit !important
}