@tailwind base;
@tailwind components;
@tailwind utilities;

.test{
    background: red;
}
body{
    --vxe-table-column-padding-default: 0px 0 ;
    --vxe-table-cell-padding-left: 0px;
    --vxe-table-cell-padding-right: 0px;
}

.curRowClass{
    background: #6bc6d6;
}

.notCurRowClass{
    /* background: blue; */
}
.rowSelect{
    background: #13777a;
}
